/* Body */
body {
    user-select: none;
}

/* Background Gradient: Rea */
.bg-gradient-rea {
    background: fixed #FFE000;
    background: fixed -webkit-linear-gradient(to top, #799F0C, #FFE000);
    background: fixed linear-gradient(to top, #799F0C, #FFE000);
}

/* Control Styling */
#playfield .control {
    border-radius: 3rem;
    color: rgba(0, 0, 0, 0.075);
    border: 0.125rem solid rgba(0, 0, 0, 0.025);
    background: rgba(0, 0, 0, 0.075);
}
#playfield .control::before{ 
    content: "\25BC";
    display: block;
}

/* Cell Styling: Default */
#playfield .cell {
    border-radius: 100%;
    border: 0.125rem solid rgba(0, 0, 0, 0.075);
    background: rgba(0, 0, 0, 0.125);
}
#playfield .cell::before{ 
    content: "\200B";
    display: block;
    padding-top: 100%;
}

/* Cell Styling: Red */
#playfield .cell[data-color="r"] {
    border-color: #A7000066;
    background-color: #FF000099;
}

/* Cell Styling: Blue */
#playfield .cell[data-color="b"] {
    border-color: #0051FF66;
    background-color: #0078FF99;
}

/* Turn Status Styling */
#playfield .turn-status {
    color: rgba(0, 0, 0, 0.375);
    text-shadow: 0 .075rem .25rem rgba(0,0,0,.25) !important;
    font-size: 1.25rem;
}

/* Turn Team Styling: Default */
#playfield .turn-status #turn-team {
    display: inline-block;
    color: rgba(0, 0, 0, 0.425);
    font-weight: bolder;
    text-align: center;
    width: 2em;
}

/* Turn Team Styling: Red */
#playfield .turn-status #turn-team[data-color="r"] {
    color: #FF0000AA;
}

/* Turn Team Styling: Blue */
#playfield .turn-status #turn-team[data-color="b"] {
    color: #005ac0aa;
}

/* Winning Team Styling: Default */
#modal #winning-team {
    display: inline-block;
    color: rgba(0, 0, 0, 1);
    font-weight: bolder;
}

/* Winning Team Styling: Red */
#modal #winning-team[data-color="r"] {
    color: #FF0000;
}

/* Winning Team Styling: Blue */
#modal #winning-team[data-color="b"] {
    color: #005ac0;
}