/* Business Card */
.card.biz-card {
    max-width: 32rem;
    display: flex;
    flex-wrap: wrap;
}

.card.biz-card .row {
    width: 100%;
}

.card.biz-card .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.card.biz-card .biz-img {
    object-fit: cover;
    height: auto;
    max-height: 100%;
    width: 100%;
}

@media (max-width: 576px) {
    .card.biz-card {
        flex-direction: column;
    }

    .card.biz-card .col-md-4,
    .card.biz-card .col-md-8 {
        width: 100%;
        text-align: center;
    }
}

/* Active Nav Link */
.nav-link.active {
    text-decoration: underline;
}

/* Text Shadows */
.text-shadow {
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.text-shadow-inverse {
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
}

/* Indented Text */
.text-indent {
    text-indent: 2.5em;
}

/* Animated Cursor */
.anim.anim-cursor {
    animation: anim-cursor 0.75s ease-in-out infinite alternate both;
}

@keyframes anim-cursor {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}