/* Business Card */
.card.biz-card {
    max-width: 32rem;
}

.card.biz-card .biz-img {
    height: 100%;
    object-fit: cover;
}

/* Active Nav Link */
.nav-link.active {
    text-decoration: underline;
}

/* Animated Cursor */
.anim.anim-cursor {
    animation: anim-cursor 0.75s ease-in-out infinite alternate both;
}

@keyframes anim-cursor {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}