/* Active Nav Link */
.nav-link.active {
    text-decoration: underline;
}

/* Animated Cursor */
.anim.anim-cursor {
    animation: anim-cursor 0.75s ease-in-out infinite alternate both;
}

/* Keyframes: Animated Cursor */
@keyframes anim-cursor {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}