<!DOCTYPE html>

<!-- Main document. -->
<html>

<!-- Document header. -->
<head>

    <!-- Page title. -->
    <title>Sykeben | <%= title %></title>

    <!-- Bootstrap CSS. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<!-- Document body. -->
<body>

    <!-- Navigation bar. -->
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
        <div class="container-fluid">

            <!-- Branding. -->
            <a class="navbar-brand" href="#">
                <img src="https://github.com/sykeben.png" height="30" width="30" class="d-inline-block align-text-top">
                SykeBen
            </a>

            <!-- Navigation toggle. -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links. -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link <%if(title=='Home'){%>active<%}%>" href="home.html">Home</a>
                </div>
            </div>

        </div>
    </nav>
