<!DOCTYPE html>

<!-- Main document. -->
<html>

<!-- Document header. -->
<head>

    <!-- Page title. -->
    <title>Sykeben | <%= title %></title>

    <!-- Bootstrap CSS. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<!-- Document body. -->
<body>
