.border-darkish {
    border-color: rgb(82, 88, 94) !important;
}

.lead-bigger {
    font-size: 1.75rem;
    font-weight: 300;
}

.shadow-xs {
    box-shadow: 0 .075rem .125rem rgba(0, 0, 0, .05) !important;
}

.font-size-half {
    font-size-adjust: .5;
}

.fa.social {
    padding-top: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa.social-sm {
    transform: scale(0.5);
}

.fa.social:hover {
    opacity: 0.7;
}

.fa.social.fa-youtube {
    background: #FF0000;
    color: white;
}

.fa.social.fa-github {
    background: #24292E;
    color: white;
}